<div class="score">
<div class="score-card">Your Score: {{ (score$ | async)?.score || 0 }}</div>
  <div>
    <form [formGroup]="form" (ngSubmit)="submitFrames()" (reset)="resetScore()">
      <div>
        <input placeholder="First" type="number" formControlName="first" min="0" />
        <div>
          <small
            class="text-danger"
            *ngIf="
          form.get('first').touched && form.get('first').hasError('required')
        "
          >
            This field is required.
          </small>
          <small
            class="text-danger"
            *ngIf="form.get('first')?.touched && form.get('first').hasError('max')"
          >
            Max score can be {{ form.get('first').errors.max.max }}.
          </small>
        </div>
      </div>
      <div>
        <input type="number" placeholder="Second" formControlName="second" min="0" />
        <div>
          <small
            class="text-danger"
            *ngIf="
          form.get('second').touched && form.get('second').hasError('required')
        "
          >
            This field is required.
          </small>
          <small
            class="text-danger"
            *ngIf="form.get('second').touched && form.get('second').hasError('max')"
          >
            Max score can be {{ form.get('second').errors.max.max }}.
          </small>
        </div>

      </div>
      <div *ngIf="displayThird">
        <input placeholder="Third" type="number" formControlName="third" min="0" />
        <small
          class="text-danger"
          *ngIf="
          form.get('third')?.touched && form.get('third').hasError('required')
        "
        >
          This field is required.
        </small>
        <small
          class="text-danger"
          *ngIf="form.get('third')?.touched && form.get('third').hasError('max')"
        >
          Max score can be {{ form.get('third').errors.max.max }}.
        </small>
      </div>
      <div class="form-error">
        <small
          class="text-danger"
          *ngIf="
          form.get('first').touched && form.get('second').touched && form.hasError('scoreInput')"
        >
          Sum of First and Second roll cannot be greater than 10.
        </small>
      </div>
      <div class="actions">
        <button class="secondary" type="reset">Reset</button>
        <button
          type="submit"
          [disabled]="form.status === 'INVALID' || (disableRoll$ | async)"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
