$dodger: #2196f3;
$hoki: #607d8b;
$kingfisher-daisy: #563d7c;
$white: #ffffff;
$tuna: #495057;
$link-water: #ced4da;

$primary-button--color: $dodger;
$primary-button-border--color: $dodger;
$secondary-button--color: $hoki;
$secondary-button-border--color: $hoki;
$result-div: $kingfisher-daisy;
$result-text--color: $white  ;
$button-text--color: $white;
$input-text--color: $tuna;
$input-background: $white;
$input-border: $link-water;
